h2 {
  text-align: center;
}

#puzzles {
  width: 100%;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 10px;
}

.puzzle {
  background: #2196f3a3;
  border: 2px solid blue;
  padding: 5px;
  text-align: center;
}

#day8,
#day11 {
  display: none;
  text-align: center;
  margin: 10px;
}

.dayTitle {
  font-weight: bold;
}

#day8visualization {
  border: 1px solid black;
  width: 250px;
  margin: auto;
  margin-top: 10px;
}

.day8row {
  display: flex;
  height: 10px;
  width: 250px;
  margin: auto;
}

.day8cell {
  width: 10px;
}

#day11visualization {
  border: 1px solid black;
  width: 430px; /* Calculated from puzzle input */
  margin: auto;
  margin-top: 10px;
}

.day11row {
  display: flex;
  height: 10px;
  width: 430px; /* Calculated from puzzle input */
  margin: auto;
}

.day11cell {
  width: 10px;
}

.black {
  background-color: black;
}
